body {
  height: 100vh;
  background-color: #F2F4FF !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

.bg-card-body {
  background-color: #F2F4FF;
}


.bg-white {
  background-color: #FFFF;
}


.border-radius-10px {
  border-radius: 10px;
}
